<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/debtCred.css" type="text/css">
    <title>Deposits and Withdrawals</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="nav">
                <a href="javascript:history.back()"><h2>Back</h2></a>
            </div>
            <div id="title">
                <h1>Deposits/Withdrawals</h1>
            </div>
            <div id="menu">
                <h2>Menu</h2>
            </div>
            <div id="menuOptions">
                <a href="./index.html"><div>Home</div></a>
                <a href="./checking.html"><div>Checking</div></a>
                <a href="./savings.html"><div>Savings</div></a>
                <a href="./transfer.html"><div>Transfer</div></a>
                <a href="./debtCred.html"><div>Debits/Credits</div></a>
            </div>
        </div>
        <div id="balances">
            <div id="checkingBal">
                <div id="cBalance">Checking balance:</div>
                <div id="cAmount"></div>
            </div>
            <div id="savingsBal">
                <div id="sBalance">Savings balance:</div>
                <div id="sAmount"></div>
            </div>
        </div>
        <div id="main">
            <div id="options">
                <form action="/auth/transaction" method="GET">
                <div id="op1" class="option">
                    <input type="text" id="dollarAmount" placeholder="Enter dollar amount">
                    <br>
                    <input type="text" id="description" placeholder="Description">
                </div>
                <div id="op2" class="option">
                    <label for="debtOrCred">Deposit or Withdrawal:</label>
                    <br>
                    <select id="debtOrCred" name="debtOrCred">
                        <option value="1">Deposit</option>
                        <option value="2">Withdrawal</option>
                    </select>
                </div>
                <div id="op3" class="option">
                    <label for="acctChoice">Choose account:</label>
                    <br>
                    <select id="acctChoice" name="acctChoice">
                        <option value="1">Checking</option>
                        <option value="2">Savings</option>
                    </select>
                </div>
                <div id="op4" class="option">
                    <button id="submitAction">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/debtCred.js"></script>
</body>
</html>