<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/options.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/balances.css" type="text/css">
    <title>Options</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="nav">
            </div>
            <div id="title">
                <h1>Options</h1>
                Logged in as <%= user %> 
            </div>
            <div id="menu">
            </div>
        </div>
        <%- include('../partials/balanceBanners')  %> 
        <div id="main">
            <div id="options">
                <a href="/auth/checking">
                    <div id="checking" class="option">
                    <h2>Checking</h2>
                    </div>
                </a>
                <a href="/auth/savings">
                    <div id="savings" class="option">
                        <h2>Savings</h2>
                    </div>
                </a>
                <a href="/auth/transfer">
                    <div id="transfer" class="option">
                        <h2>Transfer</h2>
                    </div>
                </a>
                <a href="/auth/creditDebit">
                    <div id="debtCred" class="option">
                        <h2>Deposit / Withdraw</h2>
                    </div>
                </a>
                <a href="/auth/sendMoney">
                    <div id="sendMoney" class="option">
                        <h2>Send Money</h2>
                    </div>
                </a>
                <a href="/auth/statements">
                    <div id="statements" class="option">
                        <h2>Statements</h2>
                    </div>
                </a>
                <a href="/api/users/profile">
                    <div id="profile" class="option">
                        <h2>Profile</h2>
                    </div>
                </a>
                <div id="logOut" class="option">
                    <form action="/api/users/logout">
                        <button style="font-size: 16px;" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>