<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/trans" method="POST">
    <input type="text" name="selectMonth" id="selectMonth">
    <input type="text" name="account" id="account">
    <button type="submit">submit</button>
    </form>
</body>
</html>