<div id="balances">
    <div id="checkingBal">
        <div id="cBalance">Checking balance:</div>
        <div id="cAmount"><%= `$${cBalance}` %> </div>
    </div>
    <div id="savingsBal">
        <div id="sBalance">Savings balance:</div>
        <div id="sAmount"><%= `$${sBalance}` %> </div>
    </div>
</div>