<div id="balances">
    <div id="checkingBal">
        <div id="cBalance">Checking balance:</div>
        <div id="cAmount"></div>
    </div>
    <div id="savingsBal">
        <div id="sBalance">Savings balance:</div>
        <div id="sAmount"></div>
    </div>
</div>