<div id="menu">
    <div id="menuText">
        <h2>Menu</h2>
    </div>
</div>
<div id="menuOptions">
    <a href="/auth/checking"><div><p class="mOptionText">Checking</p></div></a>
    <a href="/auth/savings"><div><p class="mOptionText">Savings</p></div></a>
    <a href="/auth/transfer"><div><p class="mOptionText">Transfer</p></div></a>
    <a href="/auth/creditDebit"><div><p class="mOptionText">Deposit/Withdraw</p></div></a>
    <a href="/auth/sendMoney"><div><p class="mOptionText">Send Money</p></div></a>
    <a href="/auth/statements"><div><p class="mOptionText">Statements</p></div></a>
    <a href="/api/users/profile"><div><p class="mOptionText">Profile</p></div></a>
    <form action="/api/users/logout">
        <button style="font-size: 16px;" type="submit">Logout</button>
    </form>
</div>