<div id="menu">
    <h2>Menu</h2>
</div>
<div id="menuOptions">
    <a href="/"><div>Home</div></a>
    <a href="/auth/checking"><div>Checking</div></a>
    <a href="/auth/savings"><div>Savings</div></a>
    <a href="/auth/transfer"><div>Transfer</div></a>
    <a href="/auth/creditDebit"><div>Deposits/Withdrawals</div></a>
    <form action="/api/users/logout">
        <button style="font-size: 16px;" type="submit">Logout</button>
    </form>
</div>