<div id="nav">
    <a href="javascript:history.back()"><h2>Back</h2></a>
</div>
<div id="title">
    <h1>Savings</h1>
</div>
<div id="menu">
    <h2>Menu</h2>
</div>
<div id="menuOptions">
    <a href="./index.html"><div>Home</div></a>
    <a href="./checking.html"><div>Checking</div></a>
    <a href="./savings.html"><div>Savings</div></a>
    <a href="./transfer.html"><div>Transfer</div></a>
    <a href="./debtCred.html"><div>Debits/Credits</div></a>
</div>