<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
    <title>Fail</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="nav">
            </div>
            <div id="title">
                <h1>UNAUTHORIZED</h1>
            </div>
            <div id="menu">
            </div>
        </div>
        <h2 style="text-align: center;">You are not authorized to view this content. Please register or log in.</h2>
        <div id="main">
            <div id="options">
                <a href="/api/users/login">
                    <div id="login" class="option">
                    <h2>Log In</h2>
                    </div>
                </a>
                <a href="/api/users/register">
                    <div id="register" class="option">
                        <h2>Register</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>