* {
    margin: 0;
    padding: 0;
    color: rgb(67, 80, 93);
    text-decoration: none;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 9fr;
}

#header {
    grid-row: 1/2;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: dodgerblue;
    color: rgb(67, 80, 93);
}

#nav {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    padding: 15px 0 10px 10px;
}

#title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding: 10px 0 10px 0;
}

#main {
    grid-row: 3/4;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

#actionDate {
    grid-column: 1/2;
    padding-left: 10px;
    height: 20px;
    border: 1px solid black;

}

#actionDesc {
    grid-column: 2/3;
    padding-left: 10px;
    height: 20px;
    border: 1px solid black;
}

#actionAmount {
    grid-column: 3/4;
    padding-left: 10px;
    height: 20px;
    border: 1px solid black;
}

#newBalance {
    grid-column: 4/5;
    padding-left: 10px;
    height: 20px;
    border: 1px solid black;
}

#table {
    width: 100%;
    margin-bottom: 30px;
}

#tableDiv {
    grid-column: 2/3;
}