#menu {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: right;
    padding: 15px 10px 10px 0;
}

#menuText {
    width: 60px;
    text-align: right;
}

#menuOptions {
    grid-column: 4/5;
    display: none;
    background-color: rgb(166, 204, 255);
    font-size: 25px;
    line-height: 1.5;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 5;
}