* {
    margin: 0;
    padding: 0;
    color: rgb(67, 80, 93);
    text-decoration: none;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ifr 8fr;
}

#header {
    grid-row: 1/2 !important; 
    display: grid !important;
    grid-column: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr !important;
    background-color: dodgerblue !important;
}

#nav {
    grid-column: 1/2;
    grid-row: 1/2;
    display: inline-block;
    text-align: left;
    padding: 15px 0 10px 10px;
}

#title {
    grid-column: 2/3;
    grid-row: 1/2;
    display: inline-block;
    text-align: center;
    padding: 10px 0 10px 0;
}

#main {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#options {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 30px;
}

.option {
    padding: 20px;
    border: 1px solid grey;
    text-align: center;
}

#checking {
    grid-row: 1/2;
}

#savings {
    grid-row: 2/3;
}

#transfer {
    grid-row: 3/4;
}

#debtCred {
    grid-row: 4/5;
}

#sendMoney {
    grid-row: 5/6;
}