* {
    margin: 0;
    padding: 0;
    color: rgb(67, 80, 93);
    text-decoration: none;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 9fr;
}

#header {
    grid-row: 1/2;
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: dodgerblue;
    color: rgb(67, 80, 93);
}

#nav {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    padding: 15px 0 10px 10px;
}

#title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding: 10px 0 10px 0;
}

#main {
    grid-row: 3/4;
    display: block;
}

#mainTop {
    margin-bottom: 50px;
    grid-row: 1/2;
    height: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#options {
    margin: 20px 20px 0 20px;
    justify-self: center;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.option {
    padding: 20px;
    border: 1px solid grey;
    font-size: 20px;
}

#op1 {
    grid-row: 1/2;
    text-align: center;
}

#op2 {
    grid-row: 2/3;
    text-align: center;
}

#op3 {
    grid-row: 3/4;
    text-align: center;
}

input, select, button {
    font-size: 16px;
}

#mainBottom {
    grid-row: 2/3;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#checkingList {
    grid-column: 1/2;
    display: block;
    text-align: center;
    justify-items: center;
}

#savingsList {
    grid-column: 2/3;
    display: block;
    text-align: center;
    justify-items: center;
}

.row {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 25px;
    display: inline-block;
    margin: 1px;
    border: 1px solid black;
}

.delete {
    display: inline-block;
    width: 30px;
    height: 25px;
    padding: 5px;
}

.month {
    display: inline-block;
    width: 100px;
    height: 25px;
    padding: 5px;
}

.viewBtn {
    display: inline-block;
    margin: 2px 0px;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-content: center;
    padding: 2px;
}