<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Log In</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="nav">
                <a href="javascript:history.back()"><h2>Back</h2></a>
            </div>
            <div id="title">
                <h1>Log In</h1>
            </div>
            <div id="menu">
                <div id="menuText">
                    <h2>Menu</h2>
                </div>
            </div>
            <div id="menuOptions">
                <a href="/"><div><p class="mOptionText">Home</p></div></a>
                <a href="/api/users/register"><div><p class="mOptionText">Register</p></div></a>
            </div>
        </div>
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="form">
                <form role="form" method="POST" action="/api/users/login">
                    <h2>Please log in</h2>
                    <hr>
                    <br>
                    <div>
                        <input type="email" name="email" id="email"placeholder=" Email Address">
                    </div>
                    <br>
                    <div>
                        <input type="password" name="password" id="password" placeholder=" Password">
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row">
                    <div>
                        <input type="submit" value="Log In">
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>